<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="InputFileName" value="D:\Travail\fichierIn.txt"/>
    <add key="OutputFileName" value="D:\Travail\fichierOut.csv"/>
    <!-- Juste mettre le delimiter dans la valeur de la clé ici-bas -->
    <add key="Delimiter" value=","/>
    <!-- La position 0 est la première colonne -->
    <add key="PositionY" value="1"/>
  </appSettings>
</configuration>